<section id="menu">
    <button class="delete"></button>
    <div>
        <a href="{{ path('home') }}" class="button is-dark is-outlined has-mb-4">
            <span class="icon"><i class="fa fa-home"></i></span>
        </a>
        <h1 class="title is-1 has-mb-4">Sommaire</h1>

        {% include('partials/episodes_list.html.twig') %}
    </div>
</section>