{% extends 'layout.html.twig' %}

{% block siteTitle %}Mon compte{% endblock %}
{% block title %}Mon compte{% endblock %}
{% block subtitle %}<span class="is-capitalize">{{ app.user.username }}</span>{% endblock %}

{% block heroBodyExtra %}
    <a href="{{ path('logout') }}" class="button is-primary is-outlined is-inverted has-mt-1">
        <span>Se déconnecter</span><span class="icon"><i class="fa fa-sign-out"></i></span>
    </a>
{% endblock %}

{% block heroFoot %}
    <nav id="tabs" class="tabs is-boxed is-medium is-fullwidth">
        <div class="container">
            <ul>
                <li><a>Episodes</a></li>
                <li><a>Details</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <section class="section is-medium the-content">
        <div id="tabs-container" class="container">

            {% include('partials/account_episodes.html.twig') %}
            {% include('partials/account_details.html.twig') %}

        </div>
    </section>
{% endblock %}
