{% extends "layout.html.twig" %}

{% block siteTitle %}Administration{% endblock %}
{% block title %}Administration{% endblock %}
{% block subtitle %}{% endblock %}

{% block heroBodyExtra %}
    <a href="{{ path('logout') }}" class="button is-primary is-outlined is-inverted has-mt-1">
        <span>Se déconnecter</span><span class="icon"><i class="fa fa-sign-out"></i></span>
    </a>
{% endblock %}

{% block heroFoot %}
    <nav id="tabs" class="tabs is-boxed is-medium is-fullwidth">
        <div class="container">
            <ul>
                <li><a>Episodes</a></li>
                <li><a>Commentaires</a></li>
                <li><a>Utilisateurs</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <section class="section is-medium the-content">
        <div id="tabs-container" class="container">

            {% include('partials/admin_episodes.html.twig') %}
            {% include('partials/admin_comments.html.twig') %}
            {% include('partials/admin_users.html.twig') %}

        </div>
    </section>
{% endblock %}