{% extends "layout.html.twig" %}

{% block siteTitle %}Administration{% endblock %}
{% block title %}Administration{% endblock %}
{% block subtitle %}{% endblock %}

{% block heroFoot %}
    <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <ul>
                <li class="is-active"><a>Episodes</a></li>
                <li><a>Commentaires</a></li>
                <li><a>Utilisateurs</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}