{% extends "layout.html.twig" %}

{% block siteTitle %}{{ episode.title }}{% endblock %}
{% block title %}{{ episode.title }}{% endblock %}
{% block subtitle %}{{ episode.subtitle }}{% endblock %}

{% block heroFoot %}
    <div class="container has-text-centered has-mb-2">
        <div class="columns">
            <div class="column">
                <span class="icon"><i class="fa fa-calendar-o"></i></span> Publié le 8 février 2017
            </div>
            <div class="column">
                <span class="icon"><i class="fa fa-clock-o"></i></span> 3 min de lecture
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <article>
        <section class="section is-medium the-content">
            <div class="container">
                <div class="content is-medium">
                    {{ episode.content|raw }}
                </div>
            </div>
        </section>
        <section class="hero is-primary the-nav">
            <div class="hero-body">
                <nav class="container">
                    <ul class="columns is-vcentered">
                        <li class="column has-text-left is-4">
                            <a class="button is-primary is-medium">
                                <span class="icon"><i class="fa fa-long-arrow-left"></i></span>
                                <span>Titre précédent</span>
                            </a>
                        </li>
                        <li class="column has-text-centered is-4">
                            <p class="heading">Episode</p>
                            <a class="button is-primary is-inverted is-medium">
                                <span class="icon"><i class="fa fa-check-circle"></i></span>
                                <span> Marquer comme lu</span>
                            </a>
                        </li>
                        <li class="column has-text-right is-4">
                            <a class="button is-primary is-medium">
                                <span>Titre suivant</span>
                                <span class="icon"><i class="fa fa-long-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="section is-medium the-comments">
            <div class="container">
                {% include 'partials/comments.html.twig' %}
            </div>
        </section>
    </article>
{% endblock %}