{% extends "layout.html.twig" %}
{% block siteTitle %}Jean Forteroche{% endblock %}
{% block title %}Un billet pour l'Alaska{% endblock %}
{% block subtitle %}par Jean Forteroche{% endblock %}

{% block content %}
    <section class="section is-medium the-content">
        <div class="container">

        </div>
    </section>
{% endblock %}