{% extends "layout.html.twig" %}

{% block siteTitle %}Se connecter{% endblock %}
{% block title %}Se connecter{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    <section class="section is-medium">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="panel">
                        <div class="panel-heading">Saisissez vos identifiants :</div>
                        <div class="panel-block">
                            <form action="{{ path('login_check') }}" method="post">
                                <p class="control">
                                    <label for="_username">Username :</label>
                                    <input type="text" id="_username" name="_username" value="{{ last_username }}"
                                           required
                                           autofocus>
                                </p>
                                <p class="control">
                                    <label for="_password">Mot de passe :</label>
                                    <input type="password" id="_password" name="_password" required>
                                </p>
                                <p class="control">
                                    <button type="submit" class="button is-primary is-medium is-pulled-right">Se
                                        connecter
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                    <p>Pas encore de compte ? <a href="{{ path('register') }}">S'enregistrer</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}