@import 'variables';

body {
  position: relative;
  height: 100%;
  width: 100%;
}

form {
  width: 100%;
}

.control {
  & li {
    color: $red;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -2px;
}

.the-content {
  .content {
    column-count: 2;
    column-gap: 4em;
    column-rule: 1px solid $white-ter;

    > p {
      font-family: $family-serif;
      text-align: justify;

      &:first-child::first-letter {
        @extend .dropcap;
      }
    }
  }
}

.the-nav {
  background: $turquoise;

  .heading {
    font-size: 12px;
  }

  .button {
    text-align: inherit;

    &:not(:nth-child(2)) {
      white-space: normal;
      height: auto;
    }
  }
}

.the-comments {
  background: $white-bis;
}

.media + .media {
  margin-top: 3rem;
  padding-top: 3rem;
}

.episodes {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed $grey-lighter;

    > a:nth-child(1) {
      padding: 1rem;
      width: 100%;
    }

    &.read a:nth-child(1) {
      opacity: .5;

      .title,
      .subtitle {
        text-decoration: line-through;
      }
    }

    &:hover a:nth-child(1) {
      opacity: 1;

      .title,
      .subtitle {
        text-decoration: none;
      }
    }
  }
}
