@import 'variables';

label {
  @extend .label;

  &.required::after {
    content: "*";
    color: $danger;
    display: inline-block;
    margin-left: .5em;
  }
}

input {
  @extend .input;
}

textarea {
  @extend .textarea;
}

select {
  @extend .select;
}

input[type=checkbox] {
  @extend .checkbox;
}

input[type=radio] {
  @extend .radio;
}

