.dropcap {
  float: left;
  font-size: 3.6rem;
  line-height: 3.6rem;
  margin: 2px 10px 0 0;
}

.is-capitalize {
  text-transform: capitalize;
}

.no-scroll {
  overflow: hidden;
}

@for $i from 1 through 6 {
  @each $prop in top, right, bottom, left {
    .has-m#{str_slice($prop, 0, 1)}-#{$i} {
      margin-#{$prop}: #{$i}rem !important;
    }
  }
}

@for $i from 1 through 6 {
  @each $prop in top, right, bottom, left {
    .has-p#{str_slice($prop, 0, 1)}-#{$i} {
      padding-#{$prop}: #{$i}rem !important;
    }
  }
}

@for $i from 1 through 6 {
  .has-mtb-#{$i} {
    margin-top: #{$i}rem !important;
    margin-bottom: #{$i}rem !important;
  }
}

@for $i from 1 through 6 {
  .has-ptb-#{$i} {
    padding-top: #{$i}rem !important;
    padding-bottom: #{$i}rem !important;
  }
}

@for $i from 1 through 6 {
  .has-p-#{$i} {
    padding: #{$i}rem !important;
  }
}
